body{
    font-family: Arial, serif;
    margin: 0;
    padding: 0;
    background: black;
}
.img-logo{
    width: 3rem;
    height: auto;
}

.logo-text{
    color: white;
    margin-left: 1.5rem;
    font-size: 1.5rem;
    font-weight: bold
}

.logo-field{
    display: flex;
    align-items: center;
}

nav{
    max-width: 700px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bg-color{
    background: #222f3e;
}

header{
    padding: 0.5rem;
}
.menu ul{
    padding: 1.5px;
    list-style: none;
    color: white;
    font-size: 1rem;
    font-weight: bold;
}


.menu ul li {
    display: inline;
    padding: 0.1rem;
    margin: 10px;
    text-transform: uppercase;
}

.search{
    width: 2rem;
    padding: 0.5rem;
}
.img-icon{
    width: 100%;
}

.btn-hire-me{
    font-weight: bold;
}

.a-full{
    width: 50%;
    margin: 0 auto;
    display: flex;
    padding: 40px;
}

.feature-layout{
    flex-basis: 20%;
    max-width: 20%;
    margin-top: 50px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.b-full{
    padding: 40px;
    margin-left: -40px;
    margin-top: -40px;
}


.btn {
    border: none;
    color: white;
    padding: 30px 40px;
    cursor: pointer;
}
.hireme {background-color: #f1c40f;}
.hireme:hover {background: #f1c40f;}

.container-a{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.box-a{
    width: 300px;
    padding: 80px;
    font-size: 18px;
    background: #353b48;
    margin: 20px;
}

.container-b{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.box-b{
    width: 300px;
    padding: 80px;
    font-size: 18px;
    background: #353b48;
    margin: 20px;
}

.container-c{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.box-c{
    width: 300px;
    padding: 80px;
    font-size: 18px;
    background: #353b48;
    margin: 20px;
}

