body{
    font-family: Roboto Mono, monospace;
    margin: 0;
    padding: 0;
    background: black;
    font-weight: bold;
}

.img-logo{
    width: 3rem;
    height: auto;
}

.logo-text{
    color: white;
    margin-left: 1.5rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.logo-field{
    display: flex;
    align-items: center;
}

nav{
    max-width: 700px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bg-color{
    background: #1a1d20;
}

header{
    padding: 0.5rem;
}
.menu ul{
    padding: 2px;
    list-style: none;
    color: #57606f;
    font-size: 0.8rem;
}


.menu ul li {
    display: inline;
    padding: 0.1rem;
    margin: 20px;
    text-transform: uppercase;
}


.a-full{
    width: 50%;
    margin: 0 auto;
    display: flex;
    padding: 40px;
    border-image-width: 1rem;
}



.btn {
    border: none;
    color: black;
    padding: 15px 15px;
    cursor: pointer;
    border-radius: 1rem;
    font-weight: bold;
}
.btn{
    background-color: #f1c40f;
}
.btn:hover{background: #f9ca24;
}
.contain-box-a{
    min-width: 50rem;
    flex-direction:row;
    border:1px solid;
    padding:1rem;
    display:flex;
    justify-content:space-between;
}

.left-box{
    width:50%;
    padding:1rem;
    margin-bottom:1rem;
}
.right-box{
    width:70%;
    padding:1rem;
    margin-bottom:1rem;
}
.box-a{
    background-color: #1a1d20;
    border:1px solid;
    padding:5rem;
    border-radius:1rem;
}


.contain-box-b{
    min-width: 50rem;
    flex-direction:row;
    border:1px solid;
    padding:1rem;
    display:flex;
    justify-content:space-between;
}
.box-1 {
    width: 40%;
    padding: 1rem;
    margin-bottom: 1rem;
}
.box-b{
    background-color: #1a1d20;
    border:1px solid;
    padding:5rem;
    border-radius:1rem;
}


.contain-box-c{
    min-width: 50rem;
    flex-direction:row;
    border:1px solid;
    padding:1rem;
    display:flex;
    justify-content:space-between;
}
.box-2{
    width:50%;
    padding: 1rem;
    margin-bottom: 1rem;
}
.box-3{
    width:40%;
    padding:1rem;
    margin-bottom:1rem;
}
.box-4{
    width:30%;
    padding:1rem;
    margin-bottom:1rem;
}
.box-c{
    background-color: #1a1d20;
    border:1px solid;
    padding:5rem;
    border-radius:1rem;
}



